<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.harris.informationgather">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IncidentActivity"
            android:label="Pick Incident" />
        <activity
            android:name=".PoliceActivity"
            android:label="Policeman" />
        <activity
            android:name=".FireActivity"
            android:label="Firefighter" />
        <activity
            android:name=".EMTActivity"
            android:label="EMT" />
        <activity
            android:name=".ButtonsInReport.DateActivity"
            android:label="Date" />
        <activity
            android:name=".ButtonsInReport.TimeActivity"
            android:label="Time" />
        <activity
            android:name=".ButtonsInReport.AudioActivity"
            android:label="Audio" />
        <activity
            android:name="com.microsoft.aad.adal.AuthenticationActivity"
            android:label="NS" >
        </activity>
        <activity
            android:name=".ButtonsInReport.PeopleActivity"
            android:label="People" />
        <activity
            android:name=".ButtonsInReport.EvaActivity"
            android:label="Evaluation" />
        <activity
            android:name=".ButtonsInReport.IActionActivity"
            android:label="Initial Action" />
        <activity
            android:name=".ButtonsInReport.PhotoActivity"
            android:label="Photo" />
        <activity
            android:name=".ButtonsInReport.RActionActivity"
            android:label="Respond to Action" />
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>